#content {
  width: auto;
  max-width: 760px;
  background-color: rgb(202, 240, 238);
  margin: 0 auto;
  padding: 0.3em 0;
  line-height: 1.5em;
}
header {
  background-color: rgb(108, 57, 106);
  text-align: center;
}
h1 {
  font-family: "Domine", serif;
  font-size: 2.5em;
  padding: 0.5em;
  color: white;
}
img {
  max-width: 100%;
  padding: 5px;
  background-color: white;
  margin: 3em 1em 0em;
}
main {
  font-family: "Yanone Kaffeesatz", sans-serif;
  padding: 0 1.5em;
}
main ul {
  list-style: none;
}
main ul li::before {
  content: "❇︎";
}
footer {
  font-family: "Domine", serif;
  font-weight: 400;
  font-size: 0.75em;
  text-align: center;
  background-color: rgb(108, 57, 106);
  color: white;
}
.footertext a:link {
  color: rgb(134, 243, 247);
}
.footertext a:visited {
  color: rgb(237, 248, 188);
}
p {
  padding: 10px;
}
