@media (min-width: 60em) {
  .gridarea {
    grid-template-columns: 1fr 1fr 1fr;
  }
  h1 {
    font-size: 2.5em;
  }
  header h2 {
    font-size: 2em;
  }
  #principle3 {
    justify-self: left;
  }
  #principle1 {
    justify-self: right;
  }
}
