@media (min-width: 41em) {
  body {
    margin: 0 auto;
  }
  .pancake {
    font-size: 2em;
    line-height: 1.5em;
  }
  header {
    font-size: 1.5em;
    line-height: 2em;
  }
  header img {
    max-width: 150px;
    max-height: 150px;
    margin-right: 1em;
  }
  header h1 {
    font-size: 2em;
    padding-top: 0.5em;
  }
  h2 {
    font-size: 2em;
  }
  header div {
    display: block;
    font-size: 1em;
    line-height: 0.9em;
  }
  nav button {
    display: none;
  }
  nav ul {
    display: flex;
  }
  nav ul.hide {
    display: flex;
  }
  nav ul li {
    flex: 1 1 100%;
  }
  nav ul li a {
    font-size: 1.5rem;
  }
  .summarybox {
    font-size: 1.2em;
    line-height: 1.2em;
    bottom: 25px;
    left: 25px;
  }
  .forecast {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    margin: auto;
    font-size: 1.2em;
    margin-top: 2em;
    max-width: 800px;
  }
  .forecast h3 {
    grid-row: 1;
    grid-column: 1/6;
  }
  .forecast img {
    display: block;
    margin: 0 auto;
    padding-bottom: 0.2em;
  }
  .days {
    border: 1px solid black;
    padding: 0.3em;
    background-color: rgb(243, 238, 125);
    font-weight: bold;
  }
  .daysweather {
    border: 1px solid black;
    padding: 0.3em;
    font-weight: bold;
  }
  .article {
    margin: 2em;
    padding: 1em;
  }
  .article img {
    float: right;
    margin: 1em;

    width: 300px;
  }
  .map {
    display: block;
  }
}
